/Debug/
/Release/
*.o
-c
.vs/Ascal-VS19/config/applicationhost.config
.vs/Ascal-VS19/v16/.suo
*.db
*.ipch
.vs/launch.vs.json
.vs/ProjectSettings.json
*.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
*.rar
*.exe
*.stackdump
CppProperties.json
CMakeFiles/cmake.check_cache
CMakeCache.txt
cygSDL2-2-0-0.dll
*.sh
*.dll
KeywordManuals/PlotGUI.txt
keywords/c
Makefile
Makefile
Makefile
